*{
    box-sizing: border-box;
}

.slides {
    margin: 0 auto;
    width: 400px;
    
}

figure{
    position: relative;
    margin: 0;
    width: 400px;
    height: 300px;
}

img {
    width: 400px;
    height: 300px;
    display: block;
}
.slide{
    position: absolute;
}
.next-btn{
    float: right;
}

h2 {
    text-align: center;
}

.current {
    transition: opacity .5s ease-out;
  }

figcaption{
 position: absolute;
 top: 20rem;
 left: 10rem;
}



.hide{
    display: none;
}

