*{
    box-sizing: border-box;
}

.slides {
    margin: 0 auto;
    width: 400px;
    
}

figure{
    position: relative;
    margin: 0;
    width: 400px;
    height: 300px;

}
img {
    width: 400px;
    height: 300px;
    display: block;
}
.slide{
    position: absolute;
}
.next-btn{
    float: right;
}

h2 {
    text-align: center;
}

.hide{
    display: none;
}

